*{
	margin: 0;
	padding: 0;
}
html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Roboto';
}
#search {
	height: 100%;
	background: url('images/bg.png') no-repeat,
	rgba(181,181,181,0.58);
	background-size: cover;
	position: relative;
	overflow: hidden;
}
#top-but {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
    width: 100%;
    position: absolute;
    top: 3%;
}
#top-but > a {
	width: 17.5%;
}
#top-but > a:first-child{
	margin-right: 16.2%;
}
#top-but > a > img {
	width: 100%;
	height: auto;
}
#planet-wrap {
	/*
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	*/
	
	position: absolute;
	top: 29.6%;
	width: 100%;
}
#planet-wrap .in-center {
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 80px;
	position: relative;
	margin: 0 auto;
}
#planet-wrap .earth {
	height: 100%;
	opacity: 0.4;
	position: relative;
	z-index: 2;
	overflow: hidden;
	border-radius: 80px;
}
#planet-wrap .earth > img {
	height: 100%;
	
}
#planet-wrap .ava {
	position: absolute;
	top: 0;
	left: 0;
}
#planet-wrap .ava img {
	max-width: 100%;
}

@-webkit-keyframes crawl {
	0%	{  -webkit-transform: translateX(0%); }
	100% {  -webkit-transform: translateX(-70%); }
}

#planet-wrap .earth > img {
	-webkit-animation: crawl 20s;
}
#planet-wrap .text {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #373636;
	text-align: center;
	margin-top: 4%;
}
#buttons {
	position: absolute;
	bottom: 5%;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#buttons > a {
	width: 18.8%;
	margin-right: 8%;
}
#buttons > a:last-child {
	margin-right: 0;
}
#buttons > a > img {
	width: 100%;
	height: auto;
}

#top-but .avatar {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	overflow: hidden;
	border-radius: 50%;

}
#top-but .avatar img {
	width: 100%;

}
#people-cont {
	width: 86%;
	height: 62%;
	position: absolute;
	left: 50%;
	top: 48%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	border-radius: 6px;

}
#people-cont .one-tile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
}
#people-cont .one-tile img {
	width: 100%;
	/*max-height: 100%;*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
#people-cont .one-tile .bottom-description {
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,0.85);
	bottom: 0;
	font-family: 'Roboto Light';
	font-size: 17px;
	padding: 7px 0 7px 8px;
	color: #373636;
}
#people-cont .one-tile .bottom-description .name {
	font-family: 'Roboto Regular';
}
#set-tabs {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 83%;
}
#set-tabs .tabs {
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
}
#set-tabs .tabs > a {
	display: block;
	width: 50%;
	text-decoration: none;
	color: #373636;
	text-align: center;
	padding: 8px 0;
}
#set-tabs .tabs > a > h4 {
	font-size: 18px;
	font-family: 'Roboto Regular';
}
#set-tabs .tabs > a > h4 span {
	font-family: 'Roboto Light';
}
#set-tabs .tabs > a > div {
	font-family: 'Roboto Light';
}
#set-tabs .tabs > a.active {
	background: rgba(255,255,255,0.55);
}
#set-tabs > .content {
	background: rgba(255,255,255,0.55);
	height: 100%;
	border-top: 1px solid #B4B4B2;
	padding: 8px 10px;
	display: none;
}
#set-tabs label {
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
#set-tabs .bl-content {
	color: #373636;
	background: rgba(188,188,196,0.4);
	border-radius: 5px;
	padding: 6px 10px;
	list-style-type: none;
	color: #6C6C6F;
}
#set-tabs .bl-content li {
	line-height: 25px;
}
#set-tabs .bl-title {
	margin-bottom: 5px;
}
#sliderRad,
#sliderAge {
	padding: 0 13px;
	margin: 10px 0;
}
#set-tabs .cont-stripe {
	margin-bottom: 20px;
}
.no-visible {
	display: none;
}
#set-tabs > .visible {
	display: block;
}